<!DOCTYPE html>
<html>
<head>
  <title>Haikutweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <a href="/"><div class="header_title">
      俳句tweet
    </div></a>
    <div class="header_box">
      <% if user_signed_in? %>
        <div class="header_check">
         投稿する
        </div>
        <div class="header_check">
         ログアウト
        </div>
      <% else %>
        <div class="header_check">
         <%= link_to 'ログイン', 'new_user_session_path' %>
        </div>
        <div class="header_check">
         新規登録
        </div>
        puts 'not signind in'
      <% end %>
    </div>
  </header>

<%= yield %>

</body>
</html>
